<div style="background-color: lightyellow">
  <button mat-raised-button color="primary" style="margin-right: 10px">
    Slow Ripple Effect
  </button>
  <button mat-raised-button color="accent">Quick Ripple Effect</button>
</div>

<h1 [ngClass]="'head1'">
  {{ title }}
</h1>
<!-- <app-structural-directives></app-structural-directives>
<app-attribute-directives></app-attribute-directives>
<app-binding-interpol></app-binding-interpol>
<app-pipes></app-pipes>
<app-routing-basic></app-routing-basic> -->
<app-list-users></app-list-users>
