/* You can add global styles to this file, and also import other style files */
/* Subheadings */
.c1 {
  background-color: rgb(28, 195, 207);
  color: white;
}
/* Big headings */
.c2 {
  background-color: rgb(208, 31, 252);
  /* font-size: 20px; */
  color: white;
}
.c3 {
  background-color: yellow;
  color: black;
}
.c4 {
  background-color: rgb(31, 173, 90);
  color: antiquewhite;
}
.c5 {
  background-color: black;
  color: aliceblue;
}
.b1 {
  background-color: red;
  color: black;
}

.mar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.head1 {
  background-color: rgb(8, 31, 238);
  color: antiquewhite;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* some condition */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[type="text"],
button {
  color: #333;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
/* {
    font-family: Arial, Helvetica, sans-serif;
  }*/
